<div>
  <%= link_to "Customers", root_path %>
</div>
<div>
  <%= link_to "Paid Customers", root_path(paid: true) %>
</div>
<div>
  <%= link_to "Customers Date Range", current_page_params.except(:paid) %>
</div>
<div>
  <%= link_to "Paid Customers Date Range", current_page_params.merge(paid: true) %>
</div>
